<h1>Bonjour et bienvenu chez GreenWalk. </h1>
<p>Nous sommes fière de vous comptez parmis nous, et de voir que la société accepte de se réunir pour travailler contre la polution !!!</p>
<br>
<p>N'hésitez pas à participer à des GreenWalks pour rendre utile cette application.</p>
<br>
<p>Vous pouvez aussi en parler à vos amis, ils pourront venir vous accompagnez dans vos missions humanitaires.</p>
<br>
<br>
<br>
<p>L'ensemble de l'équipe <b>GreenWalk</b> et l'humanité en général vous remercies.</p>
